default: &default
  adapter: postgresql
  encoding: unicode
  pool: <%= ENV.fetch("RAILS_MAX_THREADS") { 5 } %>

development:
  <<: *default
  username: username
  password: password
  database: nbp_currency_collector_development
production:
  <<: *default
  database: nbp_currency_collector_production
  username: username
  
